.card {
    position: absolute;
    left: 5%;
    top: 5%;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    padding: 40px;
    padding-bottom: 20px;

    font-family: var(--main-font);
    font-size: 14px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
}

.weatherType {
    font-size: 3em;
}

.city {
    font-size: 1em;
}

.weatherTemperature {
    font-size: 2em;
}

.weekDay {
    font-size: 1em;
}

.date {
    font-size: 1em;
}